<appSettings>
	<add key="ida:ClientId" value="fc292f24-6c9b-41e7-8e41-851763124e8e"/>
	<add key="ida.ClientSecret" value="Op88Q~ILoouWRDL5E8alkqdWv5PaFq.Wx00KQc_X"/>
	<add key="ida:RedirectUri" value="https://localhost:7024"/>
	<add key="ida.Scopes" value="User.Read Files.ReadWrite"/>
</appSettings>